*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    align-content: center;
    justify-items: center;
    font-family: "Pixelify Sans", sans-serif;
}

h1{
    color: white;
    margin-bottom: 20px;
}